@use '../variables';
@import '../mixins/_init';

%grid-column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: {
    left: 1rem;
    right: 1rem;
  }
}

.d-flex {
  @include gen_breakpoint_spaces((margin-left, margin-right), -1);
  display: flex;
  flex-wrap: nowrap;
}

.align-items-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

@each $breakpoint, $size in $breakpoints {
  $infix: breakpoint_infix($breakpoint);

  @for $i from 1 through $columns {
    .col#{$infix}-#{$i} {
      @extend %grid-column;
    }
  }

  .col#{$infix},
  .col#{$infix}-auto {
    @extend %grid-column;
  }

  @include media_query($breakpoint) {
    .col#{$infix} {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col#{$infix}-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }

    .flex#{$infix}-grow {
      flex-grow: 1;
    }

    @for $i from 1 through $columns {
      .col#{$infix}-#{$i} {
        flex: 0 0 auto;
        width: percentage($i / $columns);
      }
    }
  }
}