@import '../variables';

// mixins
@function spacer($index) {
  @return map-get($spacers, $index);
}

@mixin gen_breakpoint_spaces($props, $multiply: 1) {
  @each $breakpoint, $size in $colGaps {
    @include media_query($breakpoint) {
      @each $p in $props {
        #{$p}: #{$size * $multiply};
      }
    }
  }
}

// styles
@each $prefix,
$prop in (m: margin, p: padding) {

  @each $breakpoint,
  $size in $breakpoints {
    $infix: breakpoint_infix($breakpoint);

    @include media_query($breakpoint) {
      @each $index,
      $size in $spacers {
        .#{$prefix}#{$infix}-#{$index} {
          #{$prop}: #{$size};
        }

        .#{$prefix}l#{$infix}-#{$index},
        .#{$prefix}x#{$infix}-#{$index} {
          #{$prop}-left: #{$size};
        }

        .#{$prefix}r#{$infix}-#{$index},
        .#{$prefix}x#{$infix}-#{$index} {
          #{$prop}-right: #{$size};
        }

        .#{$prefix}t#{$infix}-#{$index},
        .#{$prefix}y#{$infix}-#{$index} {
          #{$prop}-top: #{$size};
        }

        .#{$prefix}b#{$infix}-#{$index},
        .#{$prefix}y#{$infix}-#{$index} {
          #{$prop}-bottom: #{$size};
        }
      }
    }
  }
}

@each $breakpoint, $size in $breakpoints {
  $infix: breakpoint_infix($breakpoint);
  @include media_query($breakpoint) {
    @each $index, $size in $spacers {
      .space#{$infix}-y-#{$index} {
        > :not(:last-child) {
          margin-bottom: $size;
        }
      }

      .space#{$infix}-x-#{$index} {
        > :not(:last-child) {
          margin-right: $size;
        }
      }
    }
  }
}