@if (store.isPending()) {
  Loading...
} @else if (store.bookmarks().length) {
  @if (store.filteredBookmarks().length) {
    <ul class="space-y-2">
      @for(bookmark of store.filteredBookmarks(); track bookmark.id) {
        <li>
          <app-bookmark-list-item
            [bookmark]="bookmark"
            (deleteHandler)="idPendingDeletion.set(bookmark.id!)"
          />
        </li>
      }
    </ul>
  } @else {
    <h2>
      Nothing was found! Try to refine your search!
    </h2>
  }
  @if(idPendingDeletion()) {
    <app-bookmark-delete-modal
      (cancelDeleteHandler)="idPendingDeletion.set(undefined)"
      (confirmDeleteHandler)="deleteBookmark()"
    />
  }
} @else {
  <div class="text-center">
    <h2>
      No bookmarks found!
    </h2>
    <div>
      <a routerLink="/bookmarks/create">+ Create a bookmark</a>
    </div>
  </div>
}