@import './styles/variables';

.spinner {
  animation: rotation 1s linear infinite;
  width: 6rem;
  height: 6rem;
  border: {
    color: $colorPrimary rgba($colorGrayLighter, .75) rgba($colorGrayLighter, .75);
    radius: 50%;
    style: solid;
    width: 1rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}