@import "../../styles/variables";
@import "../../styles/mixins/init";

header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $colorPrimary;
  color: $colorWhite;
  height: #{$headerHeight};
  padding: {
    left: #{spacer(1)};
    right: #{spacer(1)};
  }
  z-index: 10;

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    a {
      color: $colorWhite;
    }
  }

  @include media_query('lg') {
    padding: {
      left: #{spacer(2_5)};
      right: #{spacer(2_5)};
    }
  }
}