@import "../../../styles/variables";

button {
  background-color: $colorSecondary;
  border: {
    width: 0;
    radius: .5rem;
  }
  color: $colorWhite;
  cursor: pointer;
  font: {
    size: 1rem;
    weight: 700;
  }
  padding: .5rem 1.25rem;

  &.btn-primary {
    background-color: $colorPrimary;
  }
}