@import '../../../styles/variables';

.textfield {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .textfield-input {
    position: relative;
    flex-grow: 1;
  }
  label {
    background-color: inherit;
    position: absolute;
    left: .125rem;
    top: .75rem;
    margin: 0;
    transition: all .3s;
    z-index: -1;

    &:has(+ input:focus), &.floating {
      font-size: .75rem;
      top: -.5rem;
    }
  }

  input {
    background-color: transparent;
    border: {
      width: 0 0 1px;
      style: solid;
    }
    padding: .75rem .125rem .75rem;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: inherit;
    }
  }

  .textfield-error {
    position: absolute;
    top: 100%;
    padding: .125rem .25rem;
  }
}