@import "../../../styles/variables";

.textfield {
  position: relative;
  background-color: $colorWhite;
  border: {
    width: 1px;
    style: solid;
    color: $colorGray;
    radius: .5rem;
  }
  display: flex;
  align-items: center;
  gap: 0.5rem;

  label {
    background-color: inherit;
    position: absolute;
    left: 1rem;
    top: -.5rem;
    margin: 0;
    padding: {
      left: .25rem;
      right: .25rem;
    };
    transition: all .3s;

    &:has(+ input:focus) {
      padding: {
        left: .5rem;
        right: .5rem;
      }
    }
  }

  input {
    flex-grow: 1;
    border: 0;
    padding: .75rem .5rem;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  .textfield-error {
    position: absolute;
    top: 100%;
    padding: .125rem .25rem;
  }
}